
<footer>
    <div class="container">
        <div class="logo-footer">
            <a href="#"><img src="" alt="logo"></a>
        </div>
        <div class="mapa-site-1">
                <span style="font-weight: bold;">Mapa do Site</span>
                <li>Time Line</li>
                <li>Games Room</li>
                <li>News</li>
                <li>Community</li>
                <li>About</li>
        </div>
        <div class="mapa-site-1">
            <span style="font-weight: bold;">Mapa do Site</span>
            <li>Time Line</li>
            <li>Games Room</li>
            <li>News</li>
            <li>Community</li>
            <li>About</li>
    </div>
        <div class="mapa-site-2">
            <li><a href="mailto:email@email.com.br">email@email.com.br</a></li>
            <li>Telefone: <a href="tel:0000-0000">0000 0000</a></li>
        </div>
    </div>
</footer>
<div style="display: flex; justify-content: center; padding: 15px 0;">
    <script language=javascript type="text/javascript">
        now = new Date
        document.write ("@" + now.getFullYear() )
        </script> Criado pela turma DH
</div>

<script src="js/bootstrap.min.js"></script>