

<nav style="display: flex; justify-content: space-between; flex-direction: column; width: 260px; height: 100%; padding: 30px; position: fixed; background-color: midnightblue">
  
  <div style="align-self: flex-start;">
    <div style="text-align: center; align-self: center; margin: 15px 0;">
      <img src="" alt="">
    </div>
    <div style="display: flex; justify-content: start; align-items: center;">
      <span style="background-color: red; border-radius: 3px; width: 35px; height: 35px; padding: 2px; margin: 0 7px 0 0;"><img src="" alt=""></span>
      Área de Trabalho de<br>
      Nilton Rocha
    </div>
    <a href=""><img src="" alt=""><li style="list-style: none;">Quadros</li></a>
    <a href=""><img src="" alt=""><li style="list-style: none;">Área de Trabalho</li></a>
    <a href=""><img src="" alt=""><li style="list-style: none;">Membros</li></a>
    <a href=""><img src="" alt=""><li style="list-style: none;">Configurações</li></a>
  </div>
  <div style="positon: fixed;">
    <a href=""><img src="" alt=""><li style="list-style: none;">Sair</li></a>
  </div>

</nav>

