

<nav style="border: 0.5px solid #e2e2e2; display: flex; justify-content: space-between; flex-direction: column; width: 260px; height: 100%; position: fixed; background-color: #fff;  border-radius: 0 25px 25px 0">
  <div style="align-self: flex-start; width: 100%;">
    <div style="background-color:blue; height: 100px; border-radius: 0px 25px 0 0; display: flex; align-items: center; justify-content: start; padding-left: 25px;">
      <h4 style="color: #fff;">> Task Manager</h4>
    </div>
    <div style="display: flex; justify-content: start; align-items: center; padding: 30px 20px;">
      <span style="border: 0.5px solid #e2e2e2; border-radius: 25px; width: 40px; height: 40px; padding: 2px; margin: 0 15px 0 0;"><img src="" alt=""></span>
      {{displayName}}<br>{{email}}
    </div>
    <a href=""><li style="margin: 15px; list-style: none;"><img style="margin: 0 10px;" src="" alt="">Quadros</li></a>
    <a href=""><li style="margin: 15px; list-style: none;"><img style="margin: 0 10px;" src="" alt="">Área de Trabalho</li></a>
    <a href=""><li style="margin: 15px; list-style: none;"><img style="margin: 0 10px;" src="" alt="">Equipe</li></a>
    <a href=""><li style="margin: 15px; list-style: none;"><img style="margin: 0 10px;" src="" alt="">Tarefas</li></a>
  </div>
  <div style="positon: fixed;">
    <a href=""><li style="margin: 15px; list-style: none;"><img style="margin: 0 10px;" src="" alt="">Configurações</li></a>
    <a href=""><li style="margin: 15px; list-style: none;"><img style="margin: 0 10px;" src="" alt="">Ajuda</li></a>
    <a href=""><li style="margin: 15px; list-style: none;"><img style="margin: 0 10px;" src="" alt="">Sair</li></a>
  </div>

</nav>

