<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">



    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <title>{{title}}</title>

</head>
<body>

    {{!-- {{#if authenticated}} --}}
  
    <section style="height: 100vh; width: 100%;">
        <div class="container-fluid p-0 m-0 h-100 w-100" style="display: flex; justify-content: flex-start;">
            <div id="content" style="min-width: 240px; position: relative; background-color: #1f3447;">
                <button value="fechar" id="fechar" style="position: absolute; z-index: 100; top: 10px; right: 3px; border-style: none; color: #fff; background-color: transparent;"><i class='bx bx-menu-alt-right bx-sm'></i></button>
                <button value="abrir" id="expandir" style="position: absolute; z-index: 101; top: 10px; left: 15px; border-style: none; display: none; color: #fff; background-color: transparent;"><i class='bx bx-menu bx-sm'></i></button>
                {{>_navbar}}
            </div>
            <div style="width: 100%;">{{{body}}}</div>
        </div>
    </section>

</div>



<script>
    var fechar = document.querySelector('#fechar')
    var expandir = document.querySelector('#expandir')
    var content = document.querySelector('#content')

    var navbar = document.querySelector('#navbar')
    var navbarLi = document.querySelector('.navbarLi')

    fechar.addEventListener('click', fecharMenuLateral)

    expandir.addEventListener('click', abrirMenuLateral)


    function fecharMenuLateral() {
        fecharBotao = fechar.value

        console.log(fecharBotao)

        if(fecharBotao) {
            navbarLi.style.display = 'none'
            fechar.style.display = 'none'
            expandir.style.display = 'block' 
            content.style.minWidth = '65px'
        }
    }

    function abrirMenuLateral() {
        abrirBotao = expandir.value

        console.log(abrirBotao)

        if(abrirBotao) {
            navbarLi.style.display = 'block'
            fechar.style.display = 'block'
            expandir.style.display = 'none'
            content.style.minWidth = '240px'
        }
    }

</script>

{{!-- {{else}} --}}

    

{{!-- {{/if}} --}}

<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>