

<section style="overflow-y: scroll; height: 100%;">
    <article style="margin: 0; padding: 0; display: flex; justify-content: space-between; flex-wrap: wrap;">
        <div style="width: 100%; height: 70px; padding: 5px;">
            teste
        </div>
        <div style="margin: 0; padding: 0; height: 100%;  display: flex; justify-content: start;">
        <div style="box-shadow: 1px 1px 5px 0px #D2D2D2; width: 272px; height: 100%; padding: 20px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;">
            <div><h5 style=" font-size: 18px;">Novas Demandas</h5></div>
            <div style="display: flex; align-items: center;"><p style="font-size: 13px;">Lorem ipsum vai aqui. Quem sabe ali ou por ali. Só Deus sabe onde estará.</p></div>
            <div style="display: flex; justify-content: end; align-items: flex-end;"><a href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Adicionar Tarefa</a></div>
        </div>
        <div style="box-shadow: 1px 1px 5px 0px #D2D2D2; width: 272px; height: 88%; padding: 20px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;">
            <div><h5 style=" font-size: 18px;">Novas Demandas</h5></div>
            <div style="display: flex; align-items: center;"><p style="font-size: 13px;">Lorem ipsum vai aqui. Quem sabe ali ou por ali. Só Deus sabe onde estará.</p></div>
            <div style="display: flex; justify-content: end; align-items: flex-end;"><a href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Adicionar Tarefa</a></div>
        </div>
        <div style="box-shadow: 1px 1px 5px 0px #D2D2D2; width: 272px; height: 88%; padding: 20px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;">
            <div><h5 style=" font-size: 18px;">Novas Demandas</h5></div>
            <div style="display: flex; align-items: center;"><p style="font-size: 13px;">Lorem ipsum vai aqui. Quem sabe ali ou por ali. Só Deus sabe onde estará.</p></div>
            <div style="display: flex; justify-content: end; align-items: flex-end;"><a href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Adicionar Tarefa</a></div>
        </div>
        <div style="box-shadow: 1px 1px 5px 0px #D2D2D2; width: 272px; height: 88%; padding: 20px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;">
            <div><h5 style=" font-size: 18px;">Novas Demandas</h5></div>
            <div style="display: flex; align-items: center;"><p style="font-size: 13px;">Lorem ipsum vai aqui. Quem sabe ali ou por ali. Só Deus sabe onde estará.</p></div>
            <div style="display: flex; justify-content: end; align-items: flex-end;"><a href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Adicionar Tarefa</a></div>
        </div>
        <div style="box-shadow: 1px 1px 5px 0px #D2D2D2; width: 272px; height: 88%; padding: 20px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;">
            <div><h5 style=" font-size: 18px;">Novas Demandas</h5></div>
            <div style="display: flex; align-items: center;"><p style="font-size: 13px;">Lorem ipsum vai aqui. Quem sabe ali ou por ali. Só Deus sabe onde estará.</p></div>
            <div style="display: flex; justify-content: end; align-items: flex-end;"><a href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Adicionar Tarefa</a></div>
        </div>
        <div style="box-shadow: 1px 1px 5px 0px #D2D2D2; width: 272px; height: 88%; padding: 20px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;">
            <div><h5 style=" font-size: 18px;">Novas Demandas</h5></div>
            <div style="display: flex; align-items: center;"><p style="font-size: 13px;">Lorem ipsum vai aqui. Quem sabe ali ou por ali. Só Deus sabe onde estará.</p></div>
            <div style="display: flex; justify-content: end; align-items: flex-end;"><a href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Adicionar Tarefa</a></div>
        </div>
        <div style="box-shadow: 1px 1px 5px 0px #D2D2D2; width: 272px; height: 88%; padding: 20px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;">
            <div><h5 style=" font-size: 18px;">Novas Demandas</h5></div>
            <div style="display: flex; align-items: center;"><p style="font-size: 13px;">Lorem ipsum vai aqui. Quem sabe ali ou por ali. Só Deus sabe onde estará.</p></div>
            <div style="display: flex; justify-content: end; align-items: flex-end;"><a href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Adicionar Tarefa</a></div>
        </div>
        <div style="box-shadow: 1px 1px 5px 0px #D2D2D2; width: 272px; height: 88%; padding: 20px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;">
            <div><h5 style=" font-size: 18px;">Novas Demandas</h5></div>
            <div style="display: flex; align-items: center;"><p style="font-size: 13px;">Lorem ipsum vai aqui. Quem sabe ali ou por ali. Só Deus sabe onde estará.</p></div>
            <div style="display: flex; justify-content: end; align-items: flex-end;"><a href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Adicionar Tarefa</a></div>
        </div>
        </div>

    </article>
</section>

