<%- include('./partials/header') %>





<section>
    <article class="container">
        <h1>Olá Mundo!</h1>
        <br>
        <br>
        <h2>Subtítulo aqui</h2>
        <br>
        <br>
        <h3>Outro título </h3>
        <br>
        <br>
        <h4>outro mais aqui</h4>
        <br>
        <br>
        <p>aqui é o paragrafo</p>
        <br>
        <br>
    </article>
</section>

<section style="display: flex; justify-content: center;">
    <article class="container" style="display: flex; justify-content: space-evenly; flex-wrap: wrap; margin: 50px 0;">
        <div style=" box-shadow: 2px 2px 8px 0px black; width: 170px; height: 220px; margin: 5px; padding: 20px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;">
            <div><h5 style=" font-size: 18px;">Primeiro Comunicado</h5></div>
            <div style="display: flex; align-items: center;"><p style="font-size: 13px;">Lorem ipsum vai aqui. Quem sabe ali ou por ali. Só Deus sabe onde estará.</p></div>
            <div style="display: flex; justify-content: end; align-items: flex-end;"><a href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Saiba mais</a></div>
        </div>
        <div style=" box-shadow: 2px 2px 8px 0px black; width: 170px; height: 220px; margin: 5px; padding: 20px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;">
            <div><h5 style=" font-size: 18px;">Segundo Comunicado</h5></div>
            <div style="display: flex; align-items: center;"><p style="font-size: 13px;">Lorem ipsum vai aqui. Quem sabe ali ou por ali. Só Deus sabe onde estará.</p></div>
            <div style="display: flex; justify-content: end; align-items: flex-end;"><a href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Saiba mais</a></div>
        </div>
        <div style=" box-shadow: 2px 2px 8px 0px black; width: 170px; height: 220px; margin: 5px; padding: 20px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;">
            <div><h5 style=" font-size: 18px;">Terceiro Comunicado</h5></div>
            <div style="display: flex; align-items: center;"><p style="font-size: 13px;">Lorem ipsum vai aqui. Quem sabe ali ou por ali. Só Deus sabe onde estará.</p></div>
            <div style="display: flex; justify-content: end; align-items: flex-end;"><a href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Saiba mais</a></div>
        </div>
        <div style=" box-shadow: 2px 2px 8px 0px black; width: 170px; height: 220px; margin: 5px; padding: 20px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;">
            <div><h5 style=" font-size: 18px;">Quarto Comunicado</h5></div>
            <div style="display: flex; align-items: center;"><p style="font-size: 13px;">Lorem ipsum vai aqui. Quem sabe ali ou por ali. Só Deus sabe onde estará.</p></div>
            <div style="display: flex; justify-content: end; align-items: flex-end;"><a href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Saiba mais</a></div>
        </div>
    </article>
</section>








<%- include('./partials/footer') %>