    
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">

        <form action="/autenticar" method="POST" class="border form-control" style="max-width: 360px; border-radius: 25px; padding: 25px 30px; flex-direction: column; display: flex;">
                <h4>Entrar no <spam style="color: blue; font-size: 20px">> Task Manager</spam></h4>

                <br>

                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">
            
                <br>

                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha">
            
            <button type="submit" class="btn" style="color: #fff; background-color: blue; border-radius: 25px; margin-top: 25px;">Logar</button>
        </form>
    
    </div>