    
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">

        <form action="/login" method="POST" class="border form-control" style="max-width: 360px; border-radius: 25px; padding: 25px 30px; flex-direction: column; display: flex;">
            <h4>Entrar no <spam style="color: blue; font-size: 20px">> Task Manager</spam></h4>

            <br>

            <label for="email">E-mail</label>
            <input style="border: none; padding: 5px 0px 5px 0px; border-bottom: 0.5px solid #d2d2d2; background: transparent; outline: none;" type="email" name="email" id="email">
            {{#if usuarioNaoCadastrado}}<small style="color: red; padding-top: 5px;">Este usuário não existe. <a style="color: blue; text-decoration: none; font-size: 12px;" href="/cadastrar">cadastre-se.</a></small>{{/if}}
        
            <br>

            <label for="senha">Senha</label>
            <input style="border: none; padding: 5px 0px 5px 0px; border-bottom: 0.5px solid #d2d2d2; background: transparent; outline: none;" type="password" name="senha" id="senha">
            {{#if senhaErrada}}<small style="color: red; padding-top: 5px;">Erro ao digitar a senha. Favor tente novamente</small>{{/if}}
            
            <button id="submit" type="submit" class="btn" style="color: #fff; background-color: blue; border-radius: 25px; margin-top: 25px;">Logar</button>

            <div style="text-align: center; margin: 25px 0 0 0;">
                <span>Sua primeira vez por aqui?</span>
                <a style="color: blue;" href="/cadastrar">Cadastre-se</a>
            </div>

        </form>
        
    
    </div>

